.mega-dropdown-wrapper {
  cursor: pointer;
  padding: 0 4px;
}

.mega-menu-box {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: 780px; 
  max-width: 90vw; 
  background-color: #1a1a1a; 
  z-index: 1050;
  padding: 25px 20px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-bottom: 2px solid #1a1a1a;
  cursor: default;
  white-space: normal;
}

.mega-dropdown-wrapper:hover .mega-menu-box {
  display: block; 

}

.main-navbar .flex-grow-1 {
  min-width: 0; 
}

.nav-separator {
  color: #6c757d;
  margin: 0 0%; 
  font-size: 0.75rem;
}

.main-navbar {
  background-color: #1a1a1a !important;
  border-top: 4px solid #1fb25a;
  width: 100%;
}

.custom-hover-dropdown:hover .dropdown-menu {
  display: block;
}
.custom-hover-dropdown:hover i {
  color: #1fb25a; 
}
.custom-hover-dropdown .dropdown-menu {
  margin-top: 0; 
}

.custom-hover-dropdown {
  position: relative;
  padding: 2px 8px;
  border: 1px solid transparent;
}

.custom-hover-dropdown:hover {
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1060;
}

.main-navbar .btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff !important;
}

.main-navbar .d-lg-flex a {
  font-size: 0.72rem !important; 
  letter-spacing: 0.2px;
}

.main-navbar .gap-2 {
  gap: 0.4rem !important;
}

.main-navbar .d-lg-flex a:hover {
  text-decoration: #6c757d !important;
}

