.btn-custom-category:hover {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #ffffff;
}

.label-corner__box {

    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: proxima-nova, Roboto, Arial, san-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #00ff6e;
    z-index: 9;
}

@media (min-width: 768px) {
    
    .must-see-img {
        width: 100%;
    } 


    .must-see-img img {
        aspect-ratio: 4 / 3;
    }
}

@media (max-width: 767px) {
    
    .must-see-img {
        width: 135px;
    }

    .must-see-img img {
        aspect-ratio: 4 / 3;
    }

    .header__bar {
        background-color: #eee;
    }

    hr {
        width: 100%;
        border-top: 5px solid #ccc;
        opacity: 0.5;
        margin-bottom: 0;
        margin-top: 0;
    }
}