/* Bootstrap Import */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Global Styles */
.top-bar {
  height: 70px;
}

.bottom-nav {
  height: 50px;
  background-color: #222;
  border-top: 4px solid #1fb25a; 
}

/* Additional Global Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}