@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.top-bar {
  height: 70px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: clip; 
  max-width: 100%;
}

article {
  transition: margin-left 0.3s ease;
}

article.drawer-open {
  margin-left: 260px;
}

header.main-bar {
  display: contents !important;
}

app-navbar {
  display: block !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 999999 !important; 
}