@media (max-width: 767px) {
  .category__news-item img,
  .category__list-thumbnail img {
    aspect-ratio: 4 / 3; 
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .category__story-row {
    margin-bottom: 0%;
  }

  .category__story-row a {
    font-size: medium;
  }

  .category__img-stack a {
    font-size: medium;
  }

  hr {
    width: 100%;
    border-top: 5px solid #ccc;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
  }
  
}

@media (min-width: 768px) {
  
  .category__news-item img {
    aspect-ratio: 4 / 3; 
    width: 100%;
  }

  .category__news-item img:hover{
    filter: brightness(70%);
  }

  .category__news-hero-item {
    margin-bottom: 3;
  }

  .category__news-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
  }

  .category__news-caption a {
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  }

  .category__story-row {
    margin-bottom: 3;
  }

  .category__story-row a {
    font-size: large;
  }

  hr {
    margin-top: 2;
    margin-bottom: 2;
  }  
}

@media (min-width: 992px) {
  .btn--custom-category {
    margin-left: 8rem !important; /* aumenta a piacere */
  }
}

.btn--custom-category:hover {
  background-color: var(--section-color);
  border-color: var(--section-color);
  color: #ffffff;
}

.header__bar {
  border-top: 4px solid var(--section-color);
}

