.custom-hover--dropdown:hover:hover .dropdown-menu {
  display: block;
}

.custom-hover--dropdown:hover i {
  color: #1fb25a;
}

.custom-hover--dropdown .dropdown-menu {
  display: none; 
  position: absolute;
  top: 100%; 
  right: 0 !important; 
  left: auto !important;
  min-width: 140px;
  margin-top: 0;
  z-index: 9999999 !important; 
}

.header--actions a,
.header--date-weather {
  font-size: 0.72rem !important;
  letter-spacing: 0.2px;
  white-space: nowrap; 
}